* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    // Both are same
    font-size: 62.5%;
    // font-size: 10px;
}

body {
    font-family: "Lato", sans-serif;
}

h1 {
    font-size: 2rem;
}
